body{
    /* background-image: url(ben-neale-29w9FiMWSr8-unsplash.jpg); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    /* background-color: cadetblue; */
    margin: 20px 0 0 150px;
    background:linear-gradient(90deg,white,cadetblue);
    /* background-size:2400px 1300px; */
}

.parth{
    display: flex;
    background-color:whitesmoke;
    width: 1100px;
    box-shadow: 2px 2px 5px black;
    margin: 5px 0 20px 10px;
}
.me{
    margin:1px 30px 15px 50px;
    border-radius: 50%;
}

.icon{
    padding-top: 50px;
    font-size: 20px;
}
.text{
    padding: 5px;
    margin-bottom: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-weight: bold; */
}
.content{

    padding-top: 5px;
    display: flex;
}
.content>div{
    margin-top: 10px;
    margin-left: 10px;
}

.link{
    text-decoration: none;
    color: black;
}

.needtoflex{
    display: flex;
    
}
'@media screen and (max-width:500px)': {
    body: {
        margin: auto;
        /* background-color: black; */
        background: linear-gradient(white,cadetblue);
    }
    .needtoflex: {
        display: block;
        width: fit-content;
    }
    .quote: {
        font-size: 100px;
    padding: 200px 100px;
    text-align: center;
    text-shadow: 1px 1px 1px  white;
    }
    
}

.quote{
    font-size: 100px;
    padding: 200px 100px;
    text-align: center;
    text-shadow: 1px 1px 1px  white;
    /* padding-top: 500px; */
    width: fit-content;
}
